
  body{background-color:#000080; }
    p{color:white; }
    h1{color:#ff00ff; }
    h2{color:#dd00ee; }
	a{color:#ffffff}
	li{color:#ffffff}


.container{
	
	width:80%;
	max-width:900px;
	min-width:300px;
	background:#0000ff;
	margin: 0 auto;
	border: 3px solid #000000;
	
}

header {
	
	top: 0px;
	background-color: #0556aa;

}

footer {
	
	clear: both;
	position: relative;
	bottom:0;
	background-color:#0556aa;
	
}

section {
	
	padding: 1em;
	
}