/* CSS Document */



.top-sect {
	
	width:100%;
	background-image: url("/Images/bg-image-test.jpeg");
	height: 257px;
	background-repeat: no-repeat;
  background-position: center;
}
.head-width{
	width:700px;
	
}

.why{

	padding: 45px;

}

.reviews{
	
	padding: 48px;
	
}

